# Python
Backend/venv/
Backend/__pycache__/
Backend/.env
Backend/uploads/
uploads/
certs/

Backend/test_db_connection.py

*.pyc
.env

# Node / React
Frontend/node_modules/
Frontend/dist/
Frontend/.env.development
Frontend/.env.production
.eslintcache

# OS
.DS_Store
Thumbs.db

# Docker
.data/

**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

.vscode/

*.log